.hamilton-is-the-best-musical-ever {

    position: relative;
    width: 450px;
    height: 450px;
}

.hamilton-is-the-best-musical-ever img {
    position: absolute;
    left: 0;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}

.hamilton-is-the-best-musical-ever img.top:hover {
    opacity: 0;
}