
#preloader-container {
    position: absolute;
    background-color: #fff;
    z-index: 99;
    width: 100%;
    height: 100%;
    text-align: center;
}

#preloader-image {
    margin-top: 150px;
}

.domain {
    fill: none;
    stroke: none;
    stroke-width: 1;
}

.next {
    margin-top: 10px;
}

.dragstart {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
}

.dragend {
    cursor: -webkit-grab;
    cursor: -moz-grab;
}

#main-hero {

    /* http://metro.co.uk/2014/04/02/saharan-dust-prompts-very-high-air-pollution-warning-4685906/ */
    /*background-image: url("https://metrouk2.files.wordpress.com/2014/04/ad131317904air-pollution-ha.jpg");*/
    /*background-image: url("img/header_md_craig.jpg");*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
    /*background-attachment: fixed;*/
    color: white;
    min-height: 70vh;

    background-color: transparent;
}

.container {
    padding-bottom: 40px;
}

.header > p {
    text-align: center;
    font-size: 13px;
}

.header > .title > h2, .header > .title > h4, .header > p, .header > .title > p {

    width: 50%;
    margin: auto;
}

.btn-default {
    color: white;
}

.title {
    padding-top: 10%;
}

.image-info {
    font-size: 14px;
    margin-right: 10px;
    margin-left: auto;
    text-align: right;
    width: 100px;
    margin-top: -280px;

}

body, html {
    font-family: 'Signika', Arial, 'Helvetica Neue', Helvetica, sans-serif;
    min-width: 679px;
    margin: 0;
    padding: 0;
}

/*.introduction {*/
/*min-height: 50vh;*/
/*}*/

/*.part {*/
/*min-height: 100vh;*/
/*}*/

.notShown {
    opacity: 0.0;
}

.hidden {
    visibility: hidden;
}

#vis-3-container {
    margin-left: -125px;
}

.heading {
    padding-bottom: 30px;
}

.axis, .axis-label {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x-axis path {
    display: none;
}

.icon {
    width: 80px;
}

.fact {
    height: 250px;
    font-size: 15px;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

.container, body, html {
    position: relative;
}

.start {
    background-color: transparent;
}

#introduction, #p2 {
    background-color: #f5f5f5;
}

#p1, #p3{
    background-color: white;
}
#p3 {
    min-height: 98vh;
}

.darkBackground {
    background-color: #f5f5f5;
}

.next-banner {
    padding: 10px;
    text-align: right;
    background-color: brown;
}

.next-banner.lol-wut {
    text-align: left !important;
    color: #FFF;
    padding-bottom: 100px;
    min-height: 20px;
}

.next-banner a {
    color: white;
}

.left {
    float: left;
}

.next-banner > .next, .next-banner > .text, .next-transition-btn {
    background-color: white;
    color: brown;
    padding: 10px 100px;
}

.processImg {
    width: 50%;
}

.content {
    position: absolute;
    bottom: 0;
    left: 0;
}

.contenttop {
    position: relative;
    min-height: 100px;
}

.label {
    font-size: 10px;
    text-anchor: middle;
    opacity: 0.5;
}

.text {
    background-color: transparent !important;
    color: white !important;
    margin-top: 15px;
    margin-bottom: 12px;
}

.action {
    color: black;
    font-weight: bold;
    background-color: #fff3b8;
    padding-left: 5px;
    padding-right: 5px;
}

.action:hover {
    color: brown;

}

.wrapping-btn {
    white-space: normal;
}

.no-padding {
    padding: 0 !important;
}

h1, h2, h3, h4, h5 {
    font-family: 'Exo 2', sans-serif;
    font-weight: 150;
}

.instruction {

}

#main-hero blockquote footer {
    color: #FFF;
}

#main-hero blockquote {
    border-left: 5px solid rgba(255, 255, 255, 0.2);
}

.cityRanking {
    background-color: #eeeeee;
}

.caption {
    color: #cccccc;
    text-align: right;
}

.notSelected {
    opacity: 0.7;
    /*fill: #3f3f3f;*/
}

.feature {
    opacity: 0.0;
}

.feature2 {
    fill: #86a156;
}

.water {
    fill: #1053d8;
}

.selected {
    opacity: 1;
    fill: yellow;

}

.share {
    cursor: pointer;
}

hr.section {
    border: none;
    height: 2px;
    background-color: #ccc;
}

video {
    position: fixed;
    top: 40%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translate(-50%, -50%);

    background-color: black;
}

.facts{
    background-color: white;
}

.highlight {
    font-weight: 900;
    background-color: #ffffdc;
}

.author {
    color: white;
    opacity: 0.7;
}

a.author:hover {
    color: white;
    opacity: 1;
    text-decoration: underline;
}

#vis-1-all .tick line{
    stroke:grey;
}

.timelineText {
    font-size: 0.9em;
}